{% if category and links %}
    <h5 class="ui attached secondary inverted header">{{ category.name }}</h5>
    <div class="ui attached segment">
        <div class="ui list">
            {% for item in links %}
                <a class="item" href="{{ item.url }}" {% if item.open_new_window %}target="_blank"{% endif %}>{{ item.title }}</a>
            {% endfor %}
        </div>
    </div>
{% endif %}